# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl
# Chứa email thật — không commit!
terraform.tfvars
# AWS Key pairs — không commit!
*.pem

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
